// 贡献者处的样式
.home-page [id='贡献者列表'] + ul {
    margin-top: -5px;
    margin-bottom: 20px;
    list-style: none;
    display: flex;
    font-size: 0;
    flex-wrap: wrap;
}
.home-page [id='贡献者列表'] + ul li {
    margin: 5px;
    flex: 0 0 auto;
}
.home-page [id='贡献者列表'] + ul li a svg {
    display: none;
}
.home-page [id='贡献者列表'] + ul li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}